.videoContainer {
  width: 80%;
}

.webcam-container {
  width: 100%; /* Adjust the width of the webcam container */
  height: 100vh; /* Adjust the height of the webcam container */
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewfinder {
  width: 200px; /* Adjust the width of the viewfinder */
  height: 200px; /* Adjust the height of the viewfinder */
  background: linear-gradient(to right, orange 4px, transparent 4px) 0 0,
    linear-gradient(to right, orange 4px, transparent 4px) 0 100%,
    linear-gradient(to left, orange 4px, transparent 4px) 100% 0,
    linear-gradient(to left, orange 4px, transparent 4px) 100% 100%,
    linear-gradient(to bottom, orange 4px, transparent 4px) 0 0,
    linear-gradient(to bottom, orange 4px, transparent 4px) 100% 0,
    linear-gradient(to top, orange 4px, transparent 4px) 0 100%,
    linear-gradient(to top, orange 4px, transparent 4px) 100% 100%;

  background-repeat: no-repeat;
  background-size: 20px 20px;
}
